h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.white {
  color: #fff;
}

.textGrey {
  color: rgba(115, 115, 115, 1);
}

.actionBlue {
  color: rgba(35, 166, 240, 1);
}

.bgActionBlue {
  background-color: rgba(35, 166, 240, 1);
}

.actionGreen {
  color: rgba(45, 192, 113, 1);
}

.bgActionGreen {
  background-color: rgba(45, 192, 113, 1);
}

.logoBlue {
  color: rgba(37, 43, 66, 1);
}

.bgLogoBlue {
  background-color: rgba(37, 43, 66, 1);
}

.bgBrown {
  background-color: rgba(231, 124, 64, 1);
}

.bgGrey {
  background-color: rgb(238, 237, 237);
}

.bgWhite {
  background-color: #fff;
}

.d-500 {
  transition-duration: 500ms;
}

.border {
  border: solid;
}

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: end;
}

.justifyBetween {
  justify-content: space-between;
}

.itemCenter {
  align-items: center;
}

.textCenter {
  text-align: center;
}

.column {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.wFull {
  width: 100%;
}

.navItem {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.navBg1 {
  background-color: rgba(35, 133, 109, 1);
}

.navSection {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-weight: 700;
}

.navItemFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  gap: 6px;
  margin-right: 30px;
}

.navItemFlex2 {
  gap: 12px;
}

.navSection2 {
  margin-top: 8px;
}

.nav2 {
  gap: 120px;
}

.linkDiv {
  display: flex;
  gap: 15px;
}

.links {
  text-decoration: none;
  color: rgba(115, 115, 115, 1);
  size: 14px;
  font-weight: 700;
}

.userSection {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.userSectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 3px;
}
.iconHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  cursor: pointer;
}

.icon {
  font-size: 16px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .line {
  height: 1px;
  margin: 0 120px;
  background-color: rgba(230, 230, 230, 1);
}

.footerSection {
  height: 142px;
  padding: 0 120px;
  justify-content: space-between;
  /* background-color: rgba(250, 250, 250, 1); */
}

.footerIcons {
  font-size: 22px;
  gap: 20.5px;
}

.footerArticle {
  padding: 50px 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.grid div {
  gap: 10px;
  flex-direction: column;
  width: 148px;
}

.grid h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  color: rgba(37, 43, 66, 1);
}

.grid p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(115, 115, 115, 1);
  transition-duration: 500ms;
}

.grid p:hover {
  color: rgb(182, 176, 176);
  cursor: pointer;
}

.formItem {
  padding-left: 30px;
}

.formItem h5 {
  color: rgba(37, 43, 66, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

form input {
  width: 180px;
  padding: 20px 20px;
  background-color: (249, 249, 249, 1);
  border: 1px solid rgba(230, 230, 230, 1);
}

form input::placeholder {
  font-weight: 500;
  font-size: 14px;
}

form button {
  font-size: 14px;
  font-weight: 400;
  border: 1px rgba(35, 166, 240, 1);
  border-radius: 0 5px 5px 0;
  padding: 15px 22.5px;
  outline: none;
  background-color: rgba(35, 166, 240, 1);
}

.formItem p {
  color: rgba(115, 115, 115, 1);
  font-size: 14px;
  line-height: 28px;
}

.footerSection2 {
  padding: 25px 120px;
  color: rgba(115, 115, 115, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.mobileNav {
  display: none;
}

@media (max-width: 430px) {
  .navSection {
    display: none;
  }

  .mobileNav {
    display: block;
    padding: 23px 35px;
  }

  .mobileNavIcons {
    gap: 15px;
  }

  .mobileNavIcon {
    font-size: 24px;
  }

  .mobileNav aside {
    margin-top: 83px;
    gap: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: rgba(115, 115, 115, 1);
  }

  .footerSection {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 47px;
    gap: 24.5px;
  }

  .footerArticle {
    padding: 50px 50px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .grid {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .grid div {
    gap: 10px;
    flex-direction: column;
    width: 148px;
  }

  .formItem {
    padding: 0;
    padding-top: 30px;
  }

  form input {
    width: 150px;
    padding: 10px 10px;
  }

  form button {
    font-size: 12px;
    padding: 15px 17px;
  }

  .footerSection2 {
    padding: 25px 50px;
  }

  .hide {
    display: none;
  }
}
